@page "/"

<PageTitle>Cromulent Works</PageTitle>

<div class="centered-content">
  <div class="main-content">
    <h1>Cromulent Works</h1>
    <hr class="line" />

    <p class="quote">"making the Thing do The Thing since nineteen-dickaty-two"</p>

    <p>Everything we make is Perfectly Acceptable.<br />Guaranteed.</p>
  </div>

  <p class="copyright">
    © dickaty-dickaty-@DateTime.Now.Year.ToString().Substring(3).Replace("4", "four").Replace("5", "five") Cromulent
    Works, Pty Ltd
    <br />
    If you can read this you don't need glasses.
  </p>
</div>

<style>
  :root {
    --black: #000000;

    --cool-grey-100: #121619;
    --cool-grey-90: #21272A;
    --cool-grey-80: #343A3F;
    --cool-grey-70: #4D5358;
    --cool-grey-60: #697077;
    --cool-grey-50: #878D96;
    --cool-grey-40: #A2A9B0;
    --cool-grey-30: #C1C7CD;
    --cool-grey-20: #DDE1E6;
    --cool-grey-10: #F2F4F8;

    --true-grey-100: #161616;
    --true-grey-90: #262626;
    --true-grey-80: #393939;
    --true-grey-70: #525252;
    --true-grey-60: #6F6F6F;
    --true-grey-50: #8D8D8D;
    --true-grey-40: #A8A8A8;
    --true-grey-30: #C6C6C6;
    --true-grey-20: #E0E0E0;
    --true-grey-10: #F4F4F4;

    --warm-grey-100: #171414;
    --warm-grey-90: #272525;
    --warm-grey-80: #3C3838;
    --warm-grey-70: #565151;
    --warm-grey-60: #726E6E;
    --warm-grey-50: #8F8B8B;
    --warm-grey-40: #ADA8A8;
    --warm-grey-30: #CAC5C4;
    --warm-grey-20: #E5E0DF;
    --warm-grey-10: #F7F3F2;

    --white: #FFFFFF;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: var(--cool-grey-90);
  }

  .centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    text-align: center;
  }

  .main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--true-grey-10);
  }

  .line {
    border: 0;
    height: 1px;
    background-color: var(--cool-grey-10);
    width: 70vw;
    margin: 7px auto;
  }

  .quote {
    font-style: italic;
    font-size: 1.2rem;
    margin: 20px 0;
  }

  .copyright {
    font-size: 0.3rem;
    margin-top: 20px;
    color: var(--cool-grey-10);
  }
</style>
