@page "/"

<PageTitle>Cromulent Works</PageTitle>

<div class="centered-content">
  <div class="main-content">
    <h1>Cromulent Works</h1>
    <hr class="line" />

    <p class="quote">"making the Thing do The Thing since nineteen-dickaty-two"</p>

    <p>Everything we make is Perfectly Acceptable.<br />Guaranteed.</p>
  </div>

  <p class="copyright">
    © dickaty-dickaty-@DateTime.Now.Year.ToString().Substring(3).Replace("4", "four").Replace("5", "five") Cromulent
    Works, Pty Ltd
    <br />
    If you can read this you don't need glasses.
  </p>
</div>
